$grey: #e1e8f0;
$silver: #d4d4dc;
$green: #00c07f;
$blue: #313d4b;
$dark-blue: #00303F;
$dark-grey: #393939;
$light-grey: #dcdcdc;
$white: #f5f7f6;
$black: #1A1A1C;
$true-black: #000000;
$true-white: #ffffff;

$serif: 'Playfair Display', serif;
// $sans: 'Montserrat', sans-serif;
$sans2: 'Titillium Web', sans-serif;
$mono: 'Source Code Pro', monospace;
$cursive: 'Comfortaa', cursive;
$serif2: 'Cinzel', serif;
$sans: 'Maven Pro', sans-serif;
$cursive2: 'Tangerine', cursive;

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;