@import 'assets';

.golf-page-wrapper {
    min-height: 100vh;
}
.golf-top-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    padding-top: 120px;
}
.golf-header {
    font-size: 45px;
    font-weight: $medium;
    font-family: $serif;
    color: $white;
    text-align: center;
}
.golf-top-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.golf-link {
  font-family: $sans;
  position: relative;
  font-size: 23px;
  color: $white;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;
}
.golf-link:hover {
    color: $green;
    transform: scale(1.05);
}

.golf-image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 0;
}
.golf-image {
    width: 90vw;
    height: auto;
    max-width: 600px;
}

.golf-mid-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    position: relative;
}
.golf-header2 {
    font-family: $serif;
    font-size: 35px;
    color: $white;
    text-align: center;
    font-weight: $medium;
}
.golf-quote {
    font-family: $sans;
    font-size: 22px;
    color: $white;
    padding: 0;
    margin: 5px 0;
    text-align: center;
}

.golf-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 50px;
}

.golf-row{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: center;
    justify-items: center;
}

.golf-column {
    padding: 0 30px;
}

table {
  border-collapse: collapse;
  border: 1px solid $white;
  margin-top: 30px;
  width: auto;
  height: auto;
}

table tr:nth-child(odd) {
    background: #e8e8e8;
}

table tr:nth-child(even) {
    background: #dddddd;
}

table caption {
  font-family: $serif;
  font-size: 30px;
  color: $white;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: $medium;
  padding-top: 30px;
  margin-top: 0;
}

table th {
  font-family: $serif;
  font-weight: $light;
  font-size: 20px;
  color: $black;
  padding: 10px 15px;
}
table td {
  font-family: $sans;
  font-size: 20px;
  color: $black;
  padding: 10px 15px;
}

@media only screen and (max-width: 600px) {
    .golf-top-row {
        flex-flow: column;
    }
    .golf-link {
        text-align: left;
        padding: 5px 10px;
        margin: 0;
    }
}