.contact-page-wrapper {
  min-height: 94vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contact-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto 50px auto;
  padding: 120px 0 0 0;
}

.whitfield-logo {
  width: 200px;
  height: auto;
  display: block;
  z-index: 0;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

#formContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contact-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.contact-column2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.contact-header {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #f5f7f6;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
}

.contact-link {
  font-family: "Maven Pro", sans-serif;
  font-size: 23px;
  color: #f5f7f6;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 0;
  text-align: left;
}

.contact-link:hover {
  color: #00c07f;
  transform: scale(1.05);
  cursor: pointer;
}

.contactRow {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.contactColumn {
  width: 40%;
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-content: initial;
  align-items: initial;
  border-bottom: 1px solid #f5f7f6;
}

.input {
  width: 80%;
  border: none;
  height: 30px;
  font-size: 15px;
  background: #1A1A1C;
  color: #f5f7f6;
}

input:focus {
  outline: none;
}

.form_label {
  padding-top: 7px;
  padding-right: 15px;
  justify-self: baseline;
  align-self: baseline;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 20px;
  width: auto;
  color: #00c07f;
}

.message_row {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  justify-items: baseline;
  align-content: baseline;
  align-items: baseline;
  border-bottom: 1px solid #f5f7f6;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message_input {
  width: 100%;
  height: 30px;
  font-size: 15px;
  border: none;
  background: #1A1A1C;
  color: #f5f7f6;
}

#form-button {
  margin: 20px auto 50px auto;
  height: 30px;
  width: 150px;
  font-size: 20px;
  color: #f5f7f6;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  background-color: #00c07f;
  border: 1px solid #B9B8B8;
  border-radius: 15px;
}

#form-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 1000px) {
  .contact-header {
    font-size: 35px;
  }

  .contact-link {
    font-size: 22px;
  }

  .whitfield-logo {
    width: 190px;
  }
}
@media only screen and (max-width: 850px) {
  .contactRow {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;
  }

  .contactColumn {
    width: 70%;
    margin: 20px auto;
  }

  .message_row {
    width: 70%;
    margin: 20px auto;
    padding: 0;
  }

  .contact-header {
    font-size: 30px;
  }

  .contact-link {
    font-size: 20px;
  }

  .whitfield-logo {
    width: 175px;
  }

  .contact-column {
    margin-right: 25px;
  }

  .contact-column2 {
    margin-left: 25px;
  }
}
@media only screen and (max-width: 700px) {
  .contact-top-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .contact-column {
    margin: 0 0 10px 0;
  }

  .contact-column2 {
    margin: 10px 0 0 0;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 650px) {
  .message_row {
    width: 80%;
  }

  .contactColumn {
    width: 80%;
  }

  .contact-header {
    font-size: 27px;
  }

  .contact-link {
    font-size: 18px;
  }

  .whitfield-logo {
    width: 165px;
  }
}
@media only screen and (max-width: 400px) {
  .contactColumn {
    width: 90%;
  }

  .message_row {
    width: 90%;
  }

  .contact-header {
    font-size: 25px;
  }

  .contact-link {
    font-size: 16px;
  }

  .whitfield-logo {
    width: 150px;
  }
}

/*# sourceMappingURL=contact.css.map */
